[submodule "zsh_plugins/fzf-tab"]
	path = zsh_plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh_plugins/zsh-z"]
	path = zsh_plugins/zsh-z
	url = https://github.com/agkozak/zsh-z
