[submodule "zsh_plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh_plugins/zsh-z"]
	path = zsh/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule "zsh_plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
